# generic
*~
.*~
./.*~

# temp local backups
*BACKUP-works.alg
*BACKUP-work.alg
*BACKUP.alg
*test.alg
BACKUP-works.alg
BACKUP-work.alg
BACKUP.alg
test.alg

# cs build files
./+/csharp/bin/
./+/csharp/obj/
./+/csharp/bin/*
./+/csharp/obj/*
/csharp/bin/
/csharp/obj/
*/csharp/bin/
*/csharp/obj/
/csharp/bin/*
/csharp/obj/*
*/csharp/bin/*
*/csharp/obj/*
*csproj

# react
coding/scripts/javascript/react/
coding/projects/teach_me
/node_modules/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.DS_Store
.idea/