# generic
*~

# cs build files
./+/csharp/bin/
./+/csharp/obj/
./+/csharp/bin/*
./+/csharp/obj/*
/csharp/bin/
/csharp/obj/
*/csharp/bin/
*/csharp/obj/
/csharp/bin/*
/csharp/obj/*
*/csharp/bin/*
*/csharp/obj/*
*csproj

# temp local backups
*BACKUP-works.alg
*BACKUP-work.alg
*BACKUP.alg
*test.alg
BACKUP-works.alg
BACKUP-work.alg
BACKUP.alg
test.alg